Repository AcademySoftwareFoundation/OpenTimelineIO, changes with the labels that .github/labeler.yml gives for each.
All labels: release-candidate, submodules, dependencies, ci, documentation, opentime, time calculations, otioview, python-bindings

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples

release-candidate:
- 'CHANGELOG.md'

submodules:
- any: ['src/deps/**']

dependencies:
- any: ['pyproject.toml']

ci:
- '.github/**'

documentation:
- any: ['docs/**']

opentime:
- any: ['src/opentime/**']

'time calculations':
- any: ['src/opentime/**']

otioview:
- any: ['src/opentimelineview/**']

python-bindings:
- any: ['src/py-opentimelineio/**']

Make fabs() private
  src/opentime/rationalTime.h
  src/opentime/timeRange.h
Labels: opentime, time calculations

Code cleanup
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
  src/py-opentimelineio/opentimelineio/console/otiotool.py
  tests/test_otiodiff.py
Labels: python-bindings

Hide our custom fabs() function
  src/opentime/rationalTime.h
  src/opentime/timeRange.h
Labels: opentime, time calculations

Hide our custom fabs() function (#1929)
  src/opentime/rationalTime.h
  src/opentime/timeRange.h
Labels: opentime, time calculations

Fix child range calculations
  src/opentimelineio/composition.cpp
Labels: none

Remove MinGW CI jobs
  .github/workflows/python-package.yml
Labels: ci

Comment out the MinGW job
  .github/workflows/python-package.yml
Labels: ci

ignore generated files
  .gitignore
  src/.gitignore
Labels: none

update version map
  src/opentimelineio/CORE_VERSION_MAP.cpp
Labels: none

add VideoRoundedCorners effect
  src/opentimelineio/transformEffects.cpp
  src/opentimelineio/transformEffects.h
  src/opentimelineio/typeRegistry.cpp
  tests/test_transform_effects.cpp
Labels: none

Add Python bindings
  docs/tutorials/otio-serialized-schema-only-fields.md
  docs/tutorials/otio-serialized-schema.md
  src/opentimelineio/CORE_VERSION_MAP.cpp
  src/opentimelineio/transformEffects.h
  src/py-opentimelineio/opentimelineio-bindings/otio_serializableObjects.cpp
  src/py-opentimelineio/opentimelineio/schema/__init__.py
  tests/test_transform_effects.py
Labels: documentation, python-bindings

Add VideoFlip effect
  docs/tutorials/otio-serialized-schema-only-fields.md
  docs/tutorials/otio-serialized-schema.md
  src/opentimelineio/CORE_VERSION_MAP.cpp
  src/opentimelineio/transformEffects.cpp
  src/opentimelineio/transformEffects.h
  src/opentimelineio/typeRegistry.cpp
  src/py-opentimelineio/opentimelineio-bindings/otio_serializableObjects.cpp
  src/py-opentimelineio/opentimelineio/schema/__init__.py
  tests/test_transform_effects.cpp
  tests/test_transform_effects.py
Labels: documentation, python-bindings

Try just disabling the check-manifest and lint check
  .github/workflows/python-package.yml
Labels: ci

Add comment
  .github/workflows/python-package.yml
Labels: ci

Temporarily disable check_manifest on MinGW (#1935)
  .github/workflows/python-package.yml
Labels: ci

Only have dependabot check monthly
  .github/dependabot.yml
Labels: ci

Change intervals
  .github/dependabot.yml
Labels: ci

Change intervals
  .github/dependabot.yml
Labels: ci

Reduce the number of dependabot C++ checks (#1939)
  .github/dependabot.yml
Labels: ci

attempt to fix trimmed_range_of_child
  src/opentimelineio/composition.cpp
Labels: none

actual fix for trimmed_range_of_child
  src/opentimelineio/composition.cpp
Labels: none

formatting
  src/opentimelineio/composition.cpp
Labels: none

fix the fix for trimmed_range_of_child
  src/opentimelineio/composition.cpp
Labels: none

Fix various typos Found via `codespell -L bui,fo,thirdparty`
  src/opentimelineio/effect.h
  src/py-opentimelineio/opentimelineio/algorithms/timeline_algo.py
  src/py-opentimelineio/opentimelineio/core/__init__.py
Labels: python-bindings

Fix various typos (#1936)
  src/opentimelineio/effect.h
  src/py-opentimelineio/opentimelineio/algorithms/timeline_algo.py
  src/py-opentimelineio/opentimelineio/core/__init__.py
Labels: python-bindings

Memoization of range calculation
  src/opentimelineio/stack.cpp
  src/opentimelineio/stack.h
  src/opentimelineio/track.cpp
  src/opentimelineio/track.h
Labels: none

Erase cache when children are modified
  src/opentimelineio/composition.cpp
  src/opentimelineio/composition.h
  src/opentimelineio/stack.cpp
  src/opentimelineio/stack.h
  src/opentimelineio/track.cpp
  src/opentimelineio/track.h
Labels: none

make range_of_child_at_index cache lookup use the correct key
  src/opentimelineio/stack.cpp
  src/opentimelineio/track.cpp
Labels: none

Background effect schema (#7)
  docs/tutorials/otio-serialized-schema-only-fields.md
  docs/tutorials/otio-serialized-schema.md
  src/opentimelineio/CORE_VERSION_MAP.cpp
  src/opentimelineio/deserialization.cpp
  src/opentimelineio/serializableObject.h
  src/opentimelineio/transformEffects.cpp
  src/opentimelineio/transformEffects.h
  src/opentimelineio/typeRegistry.cpp
  src/py-opentimelineio/opentimelineio-bindings/otio_serializableObjects.cpp
  src/py-opentimelineio/opentimelineio/schema/__init__.py
  tests/test_transform_effects.cpp
  tests/test_transform_effects.py
Labels: documentation, python-bindings

Add effects for color management
  src/opentimelineio/CMakeLists.txt
  src/opentimelineio/CORE_VERSION_MAP.cpp
  src/opentimelineio/colorManagementEffects.cpp
  src/opentimelineio/colorManagementEffects.h
  src/opentimelineio/typeRegistry.cpp
Labels: none

Add tests
  src/opentimelineio/CORE_VERSION_MAP.cpp
  src/py-opentimelineio/opentimelineio-bindings/otio_serializableObjects.cpp
  src/py-opentimelineio/opentimelineio/schema/__init__.py
  tests/CMakeLists.txt
  tests/test_color_management_effects.cpp
  tests/test_color_management_effects.py
Labels: python-bindings

Fix test compilation
  tests/test_color_management_effects.cpp
Labels: none

Add VideoLightness to schema. Fix tests.
  src/opentimelineio/CORE_VERSION_MAP.cpp
  src/opentimelineio/typeRegistry.cpp
  tests/test_color_management_effects.cpp
Labels: none

Revert python changes
  src/py-opentimelineio/opentimelineio-bindings/otio_serializableObjects.cpp
  src/py-opentimelineio/opentimelineio/schema/__init__.py
Labels: python-bindings

Revert "Revert python changes"
  src/py-opentimelineio/opentimelineio-bindings/otio_serializableObjects.cpp
  src/py-opentimelineio/opentimelineio/schema/__init__.py
Labels: python-bindings

Fix python bindings; add docs
  docs/tutorials/otio-serialized-schema-only-fields.md
  docs/tutorials/otio-serialized-schema.md
  src/py-opentimelineio/opentimelineio-bindings/otio_serializableObjects.cpp
Labels: documentation, python-bindings

Fix rebase
  docs/tutorials/otio-serialized-schema-only-fields.md
  docs/tutorials/otio-serialized-schema.md
  src/opentimelineio/typeRegistry.cpp
  src/py-opentimelineio/opentimelineio-bindings/otio_serializableObjects.cpp
  src/py-opentimelineio/opentimelineio/schema/__init__.py
Labels: documentation, python-bindings

Fix rebase
  docs/tutorials/otio-serialized-schema-only-fields.md
  docs/tutorials/otio-serialized-schema.md
  src/py-opentimelineio/opentimelineio/schema/__init__.py
Labels: documentation, python-bindings

Bindings: UnknownSchema added data property
  src/opentimelineio/unknownSchema.h
  src/py-opentimelineio/opentimelineio-bindings/otio_serializableObjects.cpp
  tests/test_unknown_schema.py
Labels: python-bindings

Removed opentimelineview a.k.a otioview and references to it in the documentation.
  README.md
  docs/_static/otioview.png
  docs/tutorials/otio-serialized-schema.md
  docs/tutorials/quickstart.md
  setup.py
  src/opentimelineview/__init__.py
  src/opentimelineview/console.py
  src/opentimelineview/details_widget.py
  src/opentimelineview/ruler_widget.py
  src/opentimelineview/settings.py
  src/opentimelineview/timeline_widget.py
  src/opentimelineview/track_widgets.py
Labels: documentation, otioview
