Repository AcademySoftwareFoundation/OpenTimelineIO, changes with the labels that .github/labeler.yml gives for each.
All labels: release-candidate, submodules, dependencies, ci, documentation, opentime, time calculations, otioview, python-bindings

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples

release-candidate:
- 'CHANGELOG.md'

submodules:
- any: ['src/deps/**']

dependencies:
- any: ['pyproject.toml']

ci:
- '.github/**'

documentation:
- any: ['docs/**']

opentime:
- any: ['src/opentime/**']

'time calculations':
- any: ['src/opentime/**']

otioview:
- any: ['src/opentimelineview/**']

python-bindings:
- any: ['src/py-opentimelineio/**']

Added otiotool tutorial to doc index
  docs/index.rst
Labels: documentation

Addressed review notes, fixed formatting & relative links.
  docs/tutorials/otiotool.md
Labels: documentation

Added otiotool tutorial
  docs/tutorials/otiotool.md
Labels: documentation

added docstrings, comments, and updated variable names
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: python-bindings

More docs for --redact
  docs/tutorials/otiotool.md
Labels: documentation

Explain ordering of --stack and --concat
  docs/tutorials/otiotool.md
Labels: documentation

Use NOTE Markdown syntax
  docs/tutorials/otiotool.md
Labels: documentation

fixed timeline output bug and return empty timeline instead of None
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: python-bindings

added otiodiff script
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
Labels: python-bindings

added input otio error handling/warnings, added video/audio tracks existence into timeline summary and updated variable/function names
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
Labels: python-bindings

switched color in makeOtio to use OTIO Color rather than strings, added docstrings and updated variable/function naming
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
Labels: python-bindings

comments cleanup
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
Labels: python-bindings

renamed otiodif.py to otiodiff.py, fixed bugs, and added todo's
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  src/py-opentimelineio/opentimelineio/console/otiotool.py
  tests/test_otiodiff.py
Labels: python-bindings

added unit test file for otiodiff and ported existing tests over
  tests/test_otiodiff.py
Labels: none

added command line arg and function framework for otiodiff
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: python-bindings

changed ClipData init to pull info from source OTIO clip, updated instance variable names to be more descriptive, refactored test and diff scripts to match
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
  tests/test_otiodiff.py
Labels: python-bindings

added edit tests
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  tests/test_otiodiff.py
Labels: python-bindings

updated file output of otiodiff to use output of otiotool
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: python-bindings

sort out moved clips in db and make new moved track with new color in timelineB display
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
Labels: python-bindings

added overall summary stats and did some code cleanup
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: python-bindings

reorder audio timeline display order to have B on top
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
Labels: python-bindings

ported otiodiff into console scripts and added otiodiff as an option in otiotool
  src/py-opentimelineio/opentimelineio/console/otiodiff/__init__.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: python-bindings

code organization and adding comments
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
Labels: python-bindings

added docstrings, comments, and updated variable names
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: python-bindings

added clipDB to hold all sorted clips and added check for clips that moved tracks
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
Labels: python-bindings

removed move classification if move within same track
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
Labels: python-bindings

added track type to processTracks and makeTrack to support timelines with video only, audio only, or both video and audio
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
Labels: python-bindings

added handling of unmatched extra tracks back in
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
Labels: python-bindings

made color an optional parameter in addMarker and added examples for making tracks for A and B
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
Labels: python-bindings

fixed timeline output bug and return empty timeline instead of None
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: python-bindings

added otiodiff description and example to otiotool description, fixed typo in inspect example, and updated otiodiff function call from main to diff
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: python-bindings

added variables to specify color-coding, and updated formatting
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
  src/py-opentimelineio/opentimelineio/console/otiotool.py
  tests/test_otiodiff.py
Labels: python-bindings

Fixed markdown syntax
  docs/tutorials/otiotool.md
Labels: documentation

Fixed typo & clarified command line argument ordering
  docs/tutorials/otiotool.md
Labels: documentation

otiotool docs (#1921)
  docs/index.rst
  docs/tutorials/otiotool.md
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: documentation, python-bindings

fixed trackA to use unchanged clips from timeline A instead of timeline B for correct timing
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
Labels: python-bindings

padded track set that have less tracks with empty tracks for matched processing
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: python-bindings

added ability to specify comparisons by name or by full_name for clipDatas
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
Labels: python-bindings

Added docstrings for clipData
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
Labels: python-bindings

added todo's
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  tests/test_otiodiff.py
Labels: python-bindings
