Repository AcademySoftwareFoundation/OpenTimelineIO, changes with the labels that .github/labeler.yml gives for each.
All labels: release-candidate, submodules, dependencies, ci, documentation, opentime, time calculations, python-bindings

Initialize Python Imath values (#1956)
  src/py-opentimelineio/opentimelineio-bindings/otio_imath.cpp
  tests/test_box2d.py
  tests/test_v2d.py
Labels: python-bindings

Fix include directories
  examples/CMakeLists.txt
Labels: none

Change conditional for VS
  examples/flatten_video_tracks.cpp
Labels: none

Enable examples in CI
  .github/workflows/python-package.yml
Labels: ci

Fix warning about ignored return variable
  examples/util.cpp
Labels: none

Fixes for C++ examples (#1967)
  .github/workflows/python-package.yml
  examples/CMakeLists.txt
  examples/flatten_video_tracks.cpp
  examples/util.cpp
Labels: ci

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples

release-candidate:
- 'CHANGELOG.md'

submodules:
- any: ['src/deps/**']

dependencies:
- any: ['pyproject.toml']

ci:
- '.github/**'

documentation:
- any: ['docs/**']

opentime:
- any: ['src/opentime/**']

'time calculations':
- any: ['src/opentime/**']

python-bindings:
- any: ['src/py-opentimelineio/**']
