Repository AcademySoftwareFoundation/OpenTimelineIO, changes with the labels that .github/labeler.yml gives for each.
All labels: release-candidate, submodules, dependencies, ci, documentation, opentime, time calculations, otioview, python-bindings

removed the remaining otioview parts
  docs/tutorials/otio-filebundles.md
  src/py-opentimelineio/CMakeLists.txt
Labels: documentation, python-bindings

removed the remaining opentimelineio_contrib statements and documentation
  CMakeLists.txt
  docs/tutorials/otio-serialized-schema.md
  docs/tutorials/write-an-adapter.md
  setup.cfg
Labels: documentation

Fixed transparent Color constant.
  src/opentimelineio/color.cpp
Labels: none

attempting to please ci with spaces in the right places
  docs/tutorials/otio-serialized-schema.md
Labels: documentation

make doc-model-update as suggested by tests
  docs/tutorials/otio-serialized-schema.md
Labels: documentation

built with older python and ran make doc-model-update again as suggested by test
  docs/tutorials/otio-serialized-schema.md
Labels: documentation

built with older python and ran make doc-model-update again as suggested by test
  docs/tutorials/otio-serialized-schema.md
Labels: documentation

Remove the last remains of opentimelineio_contrib (#1946)
  CMakeLists.txt
  docs/tutorials/write-an-adapter.md
  setup.cfg
Labels: documentation

Add sledgehammer for invalidating cached range (#8)
  src/opentimelineio/timeline.cpp
  src/opentimelineio/timeline.h
  src/py-opentimelineio/opentimelineio-bindings/otio_serializableObjects.cpp
  tests/test_composition.py
Labels: python-bindings

Use doubles in colour management effects
  src/opentimelineio/CORE_VERSION_MAP.cpp
  src/opentimelineio/colorManagementEffects.h
Labels: none

support for PyQt6
  src/opentimelineview/console.py
Labels: otioview

Fixed transparent Color constant. (#1949)
  src/opentimelineio/color.cpp
Labels: none

Auto-format YAML
  .github/workflows/python-package.yml
Labels: ci

Update runners from macOS-13 (deprecated) to macOS-14
  .github/workflows/python-package.yml
Labels: ci

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples

release-candidate:
- 'CHANGELOG.md'

submodules:
- any: ['src/deps/**']

dependencies:
- any: ['pyproject.toml']

ci:
- '.github/**'

documentation:
- any: ['docs/**']

opentime:
- any: ['src/opentime/**']

'time calculations':
- any: ['src/opentime/**']

otioview:
- any: ['src/opentimelineview/**']

python-bindings:
- any: ['src/py-opentimelineio/**']
