Repository AcademySoftwareFoundation/OpenTimelineIO, changes with the labels that .github/labeler.yml gives for each.
All labels: release-candidate, submodules, dependencies, ci, documentation, opentime, time calculations, otioview, python-bindings

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples

release-candidate:
- 'CHANGELOG.md'

submodules:
- any: ['src/deps/**']

dependencies:
- any: ['pyproject.toml']

ci:
- '.github/**'

documentation:
- any: ['docs/**']

opentime:
- any: ['src/opentime/**']

'time calculations':
- any: ['src/opentime/**']

otioview:
- any: ['src/opentimelineview/**']

python-bindings:
- any: ['src/py-opentimelineio/**']

fixed non-initialized pointer
  tests/test_clip.cpp
Labels: none

added command line arg and function framework for otiodiff
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: python-bindings

merge
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
  tests/test_clip.cpp
Labels: python-bindings

ported otiodiff into console scripts and added otiodiff as an option in otiotool
  src/py-opentimelineio/opentimelineio/console/otiodiff/__init__.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: python-bindings

updated file output of otiodiff to use output of otiotool
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: python-bindings

Fix color deserialization, add schema
  docs/tutorials/otio-serialized-schema-only-fields.md
  docs/tutorials/otio-serialized-schema.md
  src/opentimelineio/deserialization.cpp
  src/py-opentimelineio/opentimelineio/console/autogen_serialized_datamodel.py
  src/py-opentimelineio/opentimelineio/core/_core_utils.py
  tests/test_json_backend.py
Labels: documentation, python-bindings

comments cleanup
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
Labels: python-bindings

added track type to processTracks and makeTrack to support timelines with video only, audio only, or both video and audio
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
Labels: python-bindings

added clipDB to hold all sorted clips and added check for clips that moved tracks
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
Labels: python-bindings

Add minizip-ng dependency
  .gitmodules
  CMakeLists.txt
  src/deps/CMakeLists.txt
  src/opentimelineio/CMakeLists.txt
Labels: submodules

Restore changes
  src/deps/CMakeLists.txt
  src/opentimelineio/CMakeLists.txt
  src/opentimelineio/OpenTimelineIOConfig.cmake.in
  src/opentimelineio/bundle.cpp
  src/opentimelineio/bundle.h
  src/opentimelineio/bundleUtils.cpp
  src/opentimelineio/bundleUtils.h
  src/opentimelineio/errorStatus.cpp
  src/opentimelineio/errorStatus.h
  src/opentimelineio/fileUtils.cpp
  src/opentimelineio/fileUtils.h
  src/opentimelineio/otiod.cpp
  src/opentimelineio/otioz.cpp
  src/opentimelineio/urlUtils.cpp
  src/opentimelineio/urlUtils.h
  src/py-opentimelineio/opentimelineio-bindings/otio_bindings.cpp
  src/py-opentimelineio/opentimelineio-bindings/otio_bindings.h
  src/py-opentimelineio/opentimelineio-bindings/otio_bundle.cpp
  src/py-opentimelineio/opentimelineio-bindings/otio_errorStatusHandler.cpp
  src/py-opentimelineio/opentimelineio/__init__.py
  src/py-opentimelineio/opentimelineio/adapters/__init__.py
  src/py-opentimelineio/opentimelineio/adapters/file_bundle_utils.py
  src/py-opentimelineio/opentimelineio/adapters/otiod.py
  src/py-opentimelineio/opentimelineio/adapters/otioz.py
  src/py-opentimelineio/opentimelineio/url_utils.py
  tests/CMakeLists.txt
  tests/test_otiod.cpp
  tests/test_otioz.cpp
  tests/test_url_conversions.cpp
Labels: submodules, python-bindings

Add file to CMake
  src/py-opentimelineio/opentimelineio-bindings/CMakeLists.txt
Labels: python-bindings

Add missing file
  src/deps/zlibng-config.cmake
Labels: submodules

Update examples
  examples/CMakeLists.txt
  examples/bundle.cpp
  examples/conform.cpp
  examples/io_perf_test.cpp
  examples/util.cpp
  examples/util.h
Labels: none

Add CMake install dir
  setup.py
Labels: none

Refactor Python tests
  tests/test_otiod.py
  tests/test_otioz.py
  tests/test_url_conversions.py
Labels: none

Python lint fixes
  tests/test_otiod.py
  tests/test_otioz.py
Labels: none

Test fixes
  tests/test_otiod.py
  tests/test_otioz.py
Labels: none

sort out moved clips in db and make new moved track with new color in timelineB display
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
Labels: python-bindings

Fix color deserialization, add schema (#1915)
  docs/tutorials/otio-serialized-schema-only-fields.md
  docs/tutorials/otio-serialized-schema.md
  src/opentimelineio/deserialization.cpp
  src/py-opentimelineio/opentimelineio/console/autogen_serialized_datamodel.py
  src/py-opentimelineio/opentimelineio/core/_core_utils.py
  tests/test_json_backend.py
Labels: documentation, python-bindings

removed move classification if move within same track
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
Labels: python-bindings

added handling of unmatched extra tracks back in
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
Labels: python-bindings

reorder audio timeline display order to have B on top
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
Labels: python-bindings

added overall summary stats and did some code cleanup
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: python-bindings

added unit test file for otiodiff and ported existing tests over
  tests/test_otiodiff.py
Labels: none

code organization and adding comments
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDif.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
Labels: python-bindings

renamed otiodif.py to otiodiff.py, fixed bugs, and added todo's
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  src/py-opentimelineio/opentimelineio/console/otiotool.py
  tests/test_otiodiff.py
Labels: python-bindings

Add version header. (#1907)
  src/opentime/CMakeLists.txt
  src/opentime/version.h
  src/opentime/version.h.in
  src/opentimelineio/CMakeLists.txt
  src/opentimelineio/version.h.in
  src/py-opentimelineio/opentime-bindings/CMakeLists.txt
  src/py-opentimelineio/opentimelineio-bindings/CMakeLists.txt
  src/py-opentimelineio/opentimelineio/adapters/otioz.py
  tests/CMakeLists.txt
  tests/test_composition.cpp
  tests/test_serializableCollection.cpp
  tests/test_timeline.cpp
  tests/test_track.cpp
Labels: opentime, time calculations, python-bindings

added input otio error handling/warnings, added video/audio tracks existence into timeline summary and updated variable/function names
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
Labels: python-bindings

changed ClipData init to pull info from source OTIO clip, updated instance variable names to be more descriptive, refactored test and diff scripts to match
  src/py-opentimelineio/opentimelineio/console/otiodiff/clipData.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/getDiff.py
  src/py-opentimelineio/opentimelineio/console/otiodiff/makeOtio.py
  tests/test_otiodiff.py
Labels: python-bindings

added otiodiff description and example to otiotool description, fixed typo in inspect example, and updated otiodiff function call from main to diff
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: python-bindings

Set default C++ visibility to hidden
  CMakeLists.txt
Labels: none

otiotool --remove-effects no longer fails when it encounters a Transition.
  src/py-opentimelineio/opentimelineio/console/otiotool.py
  tests/sample_data/effects.otio
Labels: python-bindings

Fixed a typo
  tests/test_console.py
Labels: none

Remove redundant uses of "otio_json" adapter name.
  tests/test_console.py
Labels: none

Added --remove-effects feature to otiotool.
  src/py-opentimelineio/opentimelineio/console/otiotool.py
  tests/sample_data/effects.otio
  tests/test_console.py
Labels: python-bindings

Make the comment more verbose
  CMakeLists.txt
Labels: none

Remove export and add comments
  src/opentime/rationalTime.h
Labels: opentime, time calculations

Added --remove-effects feature to otiotool. (#1912)
  src/py-opentimelineio/opentimelineio/console/otiotool.py
  tests/sample_data/effects.otio
  tests/test_console.py
Labels: python-bindings

Update otiotool usage & argument validation
  src/py-opentimelineio/opentimelineio/console/otiotool.py
Labels: python-bindings
