Repository AcademySoftwareFoundation/OpenTimelineIO, pull requests merged in 2018-02, with the labels that each got.

#227 Correctly represent Gaps
  opentimelineio/adapters/cmx_3600.py
  tests/test_cmx_3600_adapter.py
Labels: bug

#230 AAF adapter
  .travis.yml
  README.md
  contrib/adapters/advanced_authoring_format.py
  contrib/adapters/contrib_adapters.plugin_manifest.json
  contrib/adapters/tests/sample_data/multitrack.aaf
  contrib/adapters/tests/sample_data/preflattened.aaf
  contrib/adapters/tests/sample_data/simple.aaf
  contrib/adapters/tests/sample_data/transitions.aaf
  contrib/adapters/tests/sample_data/trims.aaf
  contrib/adapters/tests/test_aaf_adapter.py
Labels: enhancement

#223 Fix iteration of dupes
  opentimelineio/adapters/cmx_3600.py
  opentimelineio/core/composition.py
  opentimelineio/exceptions.py
  opentimelineio/schema/track.py
  tests/test_composition.py
Labels: bug, needs discussion
