Repository AcademySoftwareFoundation/OpenTimelineIO, pull requests merged in 2024-07, with the labels that each got.

#1775 Initialize v0.18
  .github/workflows/python-package.yml
  CMakeLists.txt
  OTIO_VERSION.json
  setup.py
  src/opentimelineio/CORE_VERSION_MAP.cpp
  src/opentimelineio/CORE_VERSION_MAP.last.cpp
Labels: ci

#1778 #1680 fix segmentation fault when appending None
  src/py-opentimelineio/opentimelineio-bindings/otio_serializableObjects.cpp
  tests/test_track.py
Labels: python-bindings

#1709 Second draft of file bundle adapter docs.
  docs/tutorials/otio-filebundles.md
  src/py-opentimelineio/opentimelineio/adapters/file_bundle_utils.py
  src/py-opentimelineio/opentimelineio/adapters/otiod.py
  src/py-opentimelineio/opentimelineio/adapters/otioz.py
  src/py-opentimelineio/opentimelineio/url_utils.py
Labels: documentation, python-bindings

#1780 Fix #1347 documentation on time ranges
  docs/tutorials/time-ranges.md
Labels: documentation
