Repository AcademySoftwareFoundation/OpenTimelineIO, pull requests merged in 2025-01, with the labels that each got.

#1821 Fix typos
  README.md
  docs/cxx/cxx.rst
  docs/tutorials/adapters.md
  docs/tutorials/contributing.md
  docs/tutorials/otio-filebundles.md
  docs/tutorials/otio-serialized-schema.md
  docs/tutorials/quickstart.md
  docs/tutorials/write-a-hookscript.md
  docs/tutorials/write-an-adapter.md
  examples/sample_plugin/setup.py
  examples/util.h
  readthedocs-conda.yml
  setup.py
  src/opentimelineio/CORE_VERSION_MAP.cpp
  src/opentimelineio/CORE_VERSION_MAP.last.cpp
  src/opentimelineio/algo/editAlgorithm.cpp
  src/opentimelineio/serializableObject.h
  src/py-opentimelineio/opentimelineio/console/otiotool.py
  src/py-opentimelineio/opentimelineio/plugins/manifest.py
  tests/baselines/plugin_module/otio_mockplugin/__init__.py
  tests/sample_data/nested_example.otio
  tests/sample_data/transition.otio
  tests/test_adapter_plugin.py
  tests/test_opentime.py
  tests/test_timeline.py
Labels: documentation, python-bindings

#1823 Fix CI issue with gcov
  .github/workflows/python-package.yml
  .readthedocs.yml
  CMakeLists.txt
  Makefile
  tests/test_clip.py
Labels: ci

#1824 Revert whitespace changes to otio-serialized-schema.md
  docs/tutorials/otio-serialized-schema.md
Labels: documentation
