Repository AcademySoftwareFoundation/OpenTimelineIO, pull requests merged in 2025-04, with the labels that each got.

#1862 Fix bug w/ url_utils.filepath_from_url + rel paths with a single "/"
  src/py-opentimelineio/opentimelineio/url_utils.py
  tests/test_url_conversions.py
Labels: bug, Adapters, python-bindings

#1864 Don't fallback to Imath from src/deps
  CMakeLists.txt
Labels: cmake

#1860 Add SOVERSION for the C++ libraries
  CMakeLists.txt
  src/opentime/CMakeLists.txt
  src/opentimelineio/CMakeLists.txt
Labels: build, cmake

#1866 Add Doxygen comments to opentime
  doxygen/config/dox_config
  src/opentime/errorStatus.h
  src/opentime/rationalTime.h
  src/opentime/stringPrintf.h
  src/opentime/timeRange.h
  src/opentime/timeTransform.h
Labels: documentation, opentime

#1874 Drop dead OTIO_IMATH_LIBS cmake option
  CMakeLists.txt
  src/deps/CMakeLists.txt
Labels: submodules

#1868 Add Doxygen comments to opentimelineio
  src/opentimelineio/anyDictionary.h
  src/opentimelineio/anyVector.h
  src/opentimelineio/clip.h
  src/opentimelineio/composable.h
  src/opentimelineio/composition.h
  src/opentimelineio/deserialization.h
  src/opentimelineio/effect.h
  src/opentimelineio/errorStatus.h
  src/opentimelineio/externalReference.h
  src/opentimelineio/freezeFrame.h
  src/opentimelineio/gap.h
  src/opentimelineio/generatorReference.h
  src/opentimelineio/imageSequenceReference.h
  src/opentimelineio/item.h
  src/opentimelineio/linearTimeWarp.h
  src/opentimelineio/marker.h
  src/opentimelineio/mediaReference.h
  src/opentimelineio/missingReference.h
  src/opentimelineio/safely_typed_any.h
  src/opentimelineio/serializableCollection.h
  src/opentimelineio/serializableObject.h
  src/opentimelineio/serializableObjectWithMetadata.h
  src/opentimelineio/serialization.h
  src/opentimelineio/stack.h
  src/opentimelineio/stackAlgorithm.h
  src/opentimelineio/stringUtils.h
  src/opentimelineio/timeEffect.h
  src/opentimelineio/timeline.h
  src/opentimelineio/track.h
  src/opentimelineio/trackAlgorithm.h
  src/opentimelineio/transition.h
  src/opentimelineio/typeRegistry.h
  src/opentimelineio/unknownSchema.h
  src/opentimelineio/vectorIndexing.h
  src/opentimelineio/version.h
Labels: documentation
