Repository AcademySoftwareFoundation/OpenTimelineIO, pull requests merged in 2025-03, with the labels that each got.

#1852 Drop Imath2 support and modernize Imath includes
  CMakeLists.txt
  src/opentimelineio/CMakeLists.txt
  src/opentimelineio/OpenTimelineIOConfig.cmake.in
  src/opentimelineio/composable.h
  src/opentimelineio/mediaReference.h
  src/opentimelineio/serializableObject.h
  src/py-opentimelineio/opentimelineio-bindings/otio_bindings.cpp
  src/py-opentimelineio/opentimelineio-bindings/otio_imath.cpp
  src/py-opentimelineio/opentimelineio-bindings/otio_serializableObjects.cpp
  src/py-opentimelineio/opentimelineio-bindings/otio_utils.cpp
  tests/CMakeLists.txt
Labels: python-bindings

#1801 Added support for custom adapter hooks
  docs/tutorials/write-a-hookscript.md
  src/py-opentimelineio/opentimelineio/adapters/adapter.py
  src/py-opentimelineio/opentimelineio/console/otiopluginfo.py
  tests/baselines/adapter_plugin_manifest.plugin_manifest.json
  tests/baselines/custom_adapter_hookscript_example.json
  tests/baselines/custom_adapter_hookscript_example.py
  tests/baselines/example.py
  tests/test_adapter_plugin.py
  tests/test_hooks_plugins.py
Labels: documentation, python-bindings

#1859 Allow to use rapidjson from the system
  CMakeLists.txt
  src/deps/CMakeLists.txt
  src/opentimelineio/CMakeLists.txt
Labels: submodules
